header {
  width: 100vw;
  height: 10vh;
  background-color: black;
}
main {
  width: 100vw;
  height: 90vh;
  display: grid;
  place-items: center;
}

form {
  width: 320px;
  height: 480px;
  padding: 40px;
  display: grid;
  gap: 20px;
  border: black 1px solid;
  border-radius: 48px;
}

.signup-submit-button {
}
