.signup-login-main {
  background-color: var(--sand-20);
  display: grid;
  place-items: center;
}

.signup-form,
.login-form {
  width: 25vw;
  padding: 0 2em 1em 2em;
  display: grid;
  place-items: center;
  gap: var(--font-xs);
  color: var(--green);
  background-color: var(--sand-60);
  border-radius: var(--radius-m);
}

.signup-form {
  height: 70vh;
}

.login-form {
  height: 50vh;
}

.form-input {
  width: 20vw;
  height: 3em;
  padding: 1em;
  border: none;
  border-radius: var(--radius-s);
}

.form-input::placeholder {
  color: var(--sand-60);
  font-size: var(--font-s);
}

.signup-btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.signup-later-btn {
  font-size: var(--font-s);
  color: var(--grape-100);
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.signup-later-btn:hover {
  color: var(--grape-hover);
}

.signup-submit-btn {
  width: 10vw;
  height: 4vh;
  margin-right: 8px;
  font-size: var(--font-s);
  color: var(--sand-20);
  background-color: var(--grape-100);
  border-radius: var(--radius-s);
  border: none;
  cursor: pointer;
}

.signup-submit-btn:hover {
  background-color: var(--grape-hover);
}
