.login-signup-header {
  padding: 0 40px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  color: var(--green);
}

.logo-title {
  height: 70%;
  margin: 0px;
  text-align: center;
  font-family: "Corben";
  font-size: var(--font-xs);
  color: var(--green);
  background-color: transparent;
  border: none;
}

.space {
  width: 30vw;
}

.login-signup-btn-container {
  width: 30vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: end;
}

.login-btn {
  color: var(--green);
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.login-btn:hover {
  color: var(--grape-hover);
}

.signup-btn {
  width: 120px;
  height: 32px;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: 12px;
  border: none;
}

.signup-btn:hover {
  background-color: var(--grape-hover);
}

.user-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: solid 4px var(--green);
  display: grid;
  place-items: center;
}
.user-btn img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
