.login-signup-header {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  place-items: center;
  color: var(--green);
}

.logo {
  margin: 0;
  font-size: var(--font-l);
}

.login-signup-btn-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.login-signup-btn-container button {
  border: none;
}

.login-btn {
  color: var(--green);
  background-color: transparent;
  text-decoration: underline;
}

.login-btn:hover {
  color: var(--grape-hover);
}

.signup-btn {
  width: 100px;
  height: 32px;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: 12px;
}

.signup-btn:hover {
  background-color: var(--grape-hover);
}
