.login-signup-header {
  padding: 0 40px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  color: var(--green);
}

.logo {
  height: 70%;
  text-align: center;
  font-size: var(--font-l);
}

.space {
  width: 30vw;
}

.login-signup-btn-container {
  width: 30vw;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: end;
}

.login-signup-btn-container button {
  border: none;
}

.login-btn {
  color: var(--green);
  background-color: transparent;
  text-decoration: underline;
}

.login-btn:hover {
  color: var(--grape-hover);
}

.signup-btn {
  width: 120px;
  height: 32px;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: 12px;
}

.signup-btn:hover {
  background-color: var(--grape-hover);
}
