.home-page-main {
  background-color: var(--sand-20);
  display: grid;
  place-items: center;
  gap: 6em;
}

.main-container {
  width: 90vw;
  max-height: 65vh;
  padding: 1em;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--green);
  background-color: var(--sand-60);
  border-radius: var(--radius-m);
}

.main-container img {
  width: 80%;
  height: auto;
}

.main-container h1 {
  font-size: var(--font-xxl);
  line-height: 1.2em;
  margin-bottom: 0;
}

.main-container h2 {
  font-weight: 400;
  font-size: var(--font-l);
  line-height: 1.2em;
}

.raised-bed-btn-container {
  width: 90vw;
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2em;
}

.raised-bed-btn-container img {
  width: 100%;
  height: auto;
}

.how-it-works-container {
  width: 100vw;
  min-height: 60vh;
  display: grid;
  place-items: center;
  color: var(--green);
}

.how-it-works-container h3 {
  font-size: var(--font-l);
  font-weight: 700;
}

.steps-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  font-size: var(--font-m);
  line-height: 1.5em;
}

.step-container {
  width: 20vw;
  height: 30vh;
  padding: 3em;
  background-color: var(--sand-60);
  border-radius: var(--radius-m);
  display: grid;
  place-items: center;
  position: relative;
}

.step-container img {
  height: 80%;
  position: absolute;
  top: -6em;
}

.step-text h4 {
  margin-top: var(--font-xl);
  margin-bottom: 0;
}

.step-text p {
  margin: 0;
  font-size: var(--font-m);
}

#methods-container {
  width: 90vw;
  max-height: 85vh;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

#methods-container h3 {
  font-size: var(--font-l);
  color: var(--green);
  text-align: center;
}

.method-container {
  max-height: 60vh;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  color: var(--sand-60);
  background-color: var(--green);
  border-radius: var(--radius-m);
}

.method-container img {
  width: 100%;
}

.method-container h4 {
  font-size: var(--font-xl);
  line-height: 1.5em;
  margin: 0;
}

.method-container p {
  font-size: var(--font-m);
}

.create-raised-bed-btn,
.view-raised-bed-btn {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  color: var(--sand-60);
  background-color: var(--green);
  border-radius: var(--radius-m);
  cursor: pointer;
}

.view-raised-bed-btn {
  color: var(--green);
  background-color: var(--sand-60);
}

.create-raised-bed-btn h2,
.view-raised-bed-btn h2 {
  font-size: var(--font-xl);
  line-height: 1.5em;
}

.lets-get-started-btn {
  width: 10vw;
  height: 4vh;
  margin-right: 16px;
  font-size: var(--font-s);
  color: var(--sand-20);
  background-color: var(--grape-100);
  border-radius: var(--radius-s);
  border: none;
}

.lets-get-started-btn:hover {
  background-color: var(--grape-hover);
}

.what-methods-btn {
  font-size: var(--font-s);
  color: var(--grape-100);
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.what-methods-btn:hover {
  color: var(--grape-hover);
}
