.main__homepage {
  background-color: var(--sand-20);
  display: grid;
  place-items: center;
  gap: 6em;
}

/*--- Main Banner ---*/
.main-banner {
  width: 90vw;
  max-height: 65vh;
  padding: 1em;
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--green);
  background-color: var(--sand-60);
  border-radius: var(--radius-m);
}

.main-banner img {
  width: 80%;
}

.main-banner h1 {
  font-size: var(--font-xxl);
  line-height: 1.2em;
  margin-bottom: 0;
}

.main-banner h2 {
  font-weight: 400;
  font-size: var(--font-l);
  line-height: 1.2em;
}

.btn__lets-get-started {
  width: 10vw;
  height: 4vh;
  margin-right: 16px;
  font-size: var(--font-s);
  color: var(--sand-20);
  background-color: var(--grape-100);
  border-radius: var(--radius-s);
  border: none;
}

.btn__lets-get-started:hover {
  background-color: var(--grape-hover);
}

.btn__what-methods {
  font-size: var(--font-s);
  color: var(--grape-100);
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.btn__what-methods:hover {
  color: var(--grape-hover);
}

/* --- Create / View Raised Beds ---*/
.container__raised-bed-btn {
  width: 90vw;
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2em;
}

.container__raised-bed-btn img {
  width: 90%;
  height: auto;
}

.btn__create-raised-bed,
.btn__view-raised-bed {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  color: var(--sand-60);
  background-color: var(--green);
  border-radius: var(--radius-m);
  cursor: pointer;
}

.btn__view-raised-bed {
  color: var(--green);
  background-color: var(--sand-60);
}

.btn__create-raised-bed h2,
.btn__view-raised-bed h2 {
  font-size: var(--font-xl);
  line-height: 1.5em;
}

/*--- How It Works ---*/
.container__how-it-works {
  width: 100vw;
  min-height: 60vh;
  display: grid;
  place-items: center;
  color: var(--green);
}

.container__how-it-works h3 {
  font-size: var(--font-l);
  font-weight: 700;
}

.container__steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  font-size: var(--font-m);
  line-height: 1.5em;
}

.container__step {
  width: 20vw;
  height: 35vh;
  padding: 3em;
  background-color: var(--sand-60);
  border-radius: var(--radius-m);
  display: grid;
  place-items: end;
  position: relative;
}

.container__step img {
  width: 100%;
  position: absolute;
  top: -3em;
}

.container__step-text {
  height: 50%;
  display: grid;
  align-items: end;
}

.container__step-text h4 {
  height: 100%;
  margin: 0;
}

.container__step-text p {
  height: 100%;
  margin: 0;
  font-size: var(--font-m);
}

/*--- Method –––*/
#container__methods {
  width: 90vw;
  max-height: 85vh;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

#container__methods h3 {
  font-size: var(--font-l);
  color: var(--green);
  text-align: center;
}

.container__method {
  max-height: 60vh;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  color: var(--sand-60);
  background-color: var(--green);
  border-radius: var(--radius-m);
}

.container__method img {
  width: 100%;
}

.container__method h4 {
  font-size: var(--font-xl);
  line-height: 1.5em;
  margin: 0;
}

.container__method p {
  font-size: var(--font-m);
}
