.create-squares-page-main {
  background-color: white;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.preview-container {
  display: grid;
  place-items: center;
  overflow: scroll;
}

.raised-bed-container {
  display: grid;
}

.square-container {
  width: 200px;
  height: 200px;
  border: black 1px dotted;
  display: grid;
  place-items: center;
}

.soil-container {
  width: 160px;
  height: 160px;
  background-color: var(--sand-20);
  border: none;
  border-radius: var(--radius-m);
}

.calculator-container {
  height: 85vh;
  padding: 2em;
  color: var(--green);
  background-color: var(--sand-60);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.calculator-top-container {
  display: grid;
  place-items: center;
}

.calculator-container h1 {
  margin-bottom: 0;
  font-size: var(--font-xl);
}

.calculator-container img {
  width: 40px;
  height: 40px;
}

.calculator-container p {
  width: 60%;
  font-size: var(--font-s);
  text-align: center;
}

.drop-down-container,
.btn-container {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.drop-down {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.drop-down label {
  font-size: var(--font-xs);
}

.select-box {
  width: 10vw;
  height: 5vh;
  padding: 1em;
  border: none;
  border-radius: var(--radius-s);
}

.cancel-btn {
  color: var(--grape-100);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.next-step-btn {
  width: 10vw;
  height: 4vh;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: var(--radius-s);
  border: none;
  cursor: pointer;
}

.next-step-btn:hover {
  background-color: var(--grape-hover);
}
