.main__design-raised-bed {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
}

/*--- Plant Library ---*/
.container__plant-library,
.container__name-raised-bed {
  height: 85vh;
  padding: 2em;
  color: var(--green);
  background-color: var(--sand-60);
  display: grid;
  place-items: center;
}

.container__plant-library-text {
  display: grid;
  place-items: center;
}

.container__plant-library-text img {
  width: 4em;
  height: auto;
}

.container__plant-library-text h1 {
  margin: 0px;
  font-size: var(--font-xl);
}

.container__plant-library-text p {
  font-size: var(--font-s);
  text-align: center;
}

.list__plant-library {
  min-width: 40vw;
  height: 45vh;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 56px;
  overflow: scroll;
}

.list-item__plant-library {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.list-item__plant-library img {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  cursor: grab;
}

.list-item__plant-library p {
  margin: 0;
}

.btn__clear-square {
  width: 10vw;
  height: 4vh;
  color: var(--grape-100);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.btn__save {
  width: 10vw;
  height: 4vh;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: var(--radius-s);
  border: none;
  cursor: pointer;
}

.btn__save:hover {
  background-color: var(--grape-hover);
}

.container__plant-btn {
  width: 100%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.container__plant-text {
  padding: 0.5em;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.text__plant-companion {
  margin: 0;
  padding: 0 0.5em;
  font-size: var(--font-xs);
  color: white;
  background-color: var(--green);
  border-radius: var(--radius-s);
  text-align: center;
}

.text__plant-non-companion {
  margin: 0;
  font-size: var(--font-xs);
  color: white;
  background-color: var(--carrot);
  border: none;
  border-radius: var(--radius-s);
  text-align: center;
}

.companion {
  border: 2px solid var(--green);
}

.non-companion {
  opacity: 0.2;
  pointer-events: none;
}

.saved {
  pointer-events: none;
}

/*--- Preview ---*/
.container__preview {
  display: grid;
  place-items: center;
}

.container__raised-bed {
  display: grid;
}

.container__square--preview {
  width: 200px;
  height: 200px;
  border: black 1px dotted;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.container__square--preview--small {
  width: 100px;
  height: 100px;
  border: black 1px dotted;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.container__square--preview img,
.container__square--preview--small img {
  width: 100%;
  height: 100%;
}

.container__square--clicked {
  border: var(--grape-100) 4px solid;
  border-radius: var(--radius-s);
}

/*--- Name Raised Bed ---*/
.container__name-raised-bed {
  grid-template-rows: repeat(2, 1fr);
}

.container__name-raised-bed h1 {
  font-size: var(--font-xl);
  text-align: center;
}

.container__name-raised-bed-input {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.input__name-raised-bed {
  width: 25vw;
  height: 5vh;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-radius: var(--radius-s);
}

.btn__keep-edit {
  color: var(--grape-100);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.container__saved {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container__saved-bg {
  width: 100%;
  height: 100%;
  background-color: var(--green);
  opacity: 0.9;
}

.container__saved h1 {
  text-align: center;
  font-size: var(--font-xl);
  color: var(--sand-20);
  position: absolute;
  z-index: 2;
  left: 44vw;
  top: 28vh;
}
