.design-raisedbed-page-main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.preview-plant-library-container {
  height: 85vh;
  padding: 40px;
  color: var(--green);
  background-color: var(--sand-60);
  display: grid;
  place-items: center;
}

.plant-library-text h1 {
  margin: 0px;
  font-size: var(--font-xl);
}

.plant-library-text p {
  font-size: var(--font-s);
  text-align: center;
}

.plant-library-list {
  width: 40vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 40px;
  overflow: scroll;
}

.plant-library-list-item {
  background-color: white;
  border: none;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  cursor: grab;
}

.square-list-item {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.plant-library-list-item img,
.square-list-item img {
  width: 80%;
}

.plant-library-list-item p {
  margin: 0;
}

.preview-container {
  display: grid;
  place-items: center;
}

.raised-bed-container {
  padding: 0;
  display: grid;
  list-style: none;
}

.square-container {
  width: 200px;
  height: 200px;
  border: black 1px dotted;
}

.selected {
  border: black 2px solid;
}

.companion {
  border: black 5px solid;
}

.non-companion {
  opacity: 0.2;
  pointer-events: none;
}

.saved {
  pointer-events: none;
}

.clicked {
  border: var(--grape-100) 4px solid;
  border-radius: 8px;
}

.clear-square-btn {
  color: var(--grape-100);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.save-btn {
  width: 160px;
  height: 32px;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: 12px;
  border: none;
}

.save-btn:hover {
  background-color: var(--grape-hover);
}

.plant-btn-container {
  width: 100%;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: end;
  gap: 40px;
}
