.view-raisedbed-main {
  color: var(--green);
  background-color: var(--sand-20);
  display: grid;
  place-items: center;
}

.view-raisedbed-list {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 64px;
}

.preview-mini-raisedbed-container {
  width: 20vw;
  height: 40vh;
  margin-bottom: 20px;
  background-color: white;
  border: red solid 1px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  position: relative;
}

.mini-raisedbed-container {
  border: 1px solid blue;
  display: grid;
  place-items: center;
}

.mini-square-container {
  width: 64px;
  height: 64px;
  border: black dotted 1px;
  display: grid;
  place-items: center;
}

.miniture-plant-container {
  width: 56px;
  height: 56px;
}

.miniture-soil-container {
  width: 48px;
  height: 48px;
  background-color: var(--sand-60);
  border-radius: 12px;
}

.create-raisedbed-btn {
  cursor: pointer;
}

.date-text {
  margin: 0;
  font-size: var(--font-xs);
}

.name-text {
  margin: 0;
}

.delete-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.delete-btn img {
  width: 32px;
  height: 32px;
}
