.view-raisedbed-main {
  color: var(--green);
  background-color: var(--sand-20);
  display: grid;
  place-items: center;
}

.view-raisedbed-list {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 64px;
  position: relative;
}

.preview-mini-raisedbed-container {
  width: 20vw;
  height: 40vh;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 12px;
  display: grid;
  place-items: center;
  position: relative;
}

.mini-raisedbed-container {
  display: grid;
  place-items: center;
}

.mini-square-container {
  width: 64px;
  height: 64px;
  border: black dotted 1px;
  display: grid;
  place-items: center;
}

.miniture-plant-container {
  width: 56px;
  height: 56px;
}

.miniture-soil-container {
  width: 48px;
  height: 48px;
  background-color: var(--sand-60);
  border-radius: 12px;
}

.create-raisedbed-btn {
  margin-bottom: 40px;
  background-color: var(--sand-60);
  cursor: pointer;
}

.date-text {
  margin: 0;
  font-size: var(--font-xs);
}

.name-text {
  margin: 0;
}

.user-name-text {
  margin: 0;
  font-size: var(--font-xs);
}

.delete-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 8px;
  right: 20px;
}

.delete-btn img {
  width: 32px;
  height: 32px;
}

.delete-container {
  display: grid;
  place-items: center;
}

.delete-background {
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  background-color: var(--green);
  opacity: 0.8;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.delete-window {
  width: 20vw;
  height: 30vh;
  padding: 2em;
  background-color: var(--sand-20);
  position: absolute;
  top: 36vh;
  z-index: 2;
  display: grid;
  place-items: center;
  border-radius: var(--radius-m);
}

.delete-window h2 {
  margin: 0;
  font-size: var(--font-l);
}

.delete-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.no-cancel-btn {
  color: var(--grape-100);
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.no-cancel-btn {
  color: var(--grape-hover);
}

.yes-delete-btn {
  width: 10vw;
  height: 4vh;
  color: var(--sand-20);
  background-color: var(--carrot);
  border: none;
  border-radius: var(--radius-s);
}

.yes-delete-btn:hover {
  background-color: var(--grape-hover);
}

.get-inspiration-container {
  width: 70vw;
  padding: 2em;
  color: var(--sand-20);
  background-color: var(--green);
  border-radius: var(--radius-m);
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  cursor: pointer;
}

.get-inspiration-container h2 {
  font-size: var(--font-xl);
  line-height: 1.5em;
}

.get-inspiration-container p {
  font-size: var(--font-m);
  line-height: 1.5em;
}

.get-inspiration-container img {
  width: 240px;
  height: 280px;
}
